
{{ 'cb-nutrition-label.css' | asset_url | stylesheet_tag }}
<section class="performance-facts">
  <header class="performance-facts__header">
    <h2 class="performance-facts__title">Supplement Facts</h2>
    <p>Serving Size: 1 Stick Packet (12.4g)</p>
      <p>Serving Per Container: 15</p>
  </header>
  <table class="performance-facts__table">
    <tbody>
      <tr>
        <th colspan="3">
          <strong>Calories</strong>
          30
        </th>
        <td>
         
        </td>
      </tr>
      <tr class="thick-row">
         <td colspan="2"></td>
        <td class="small-info">
          <strong>Amount per Serving</strong>
        </td>
        <td  class="small-info">
          <strong>% Daily Value*</strong>
        </td>
      </tr>
       <tr>
        <th colspan="2">
          <strong>Total Carbohydrate</strong> 
          
        </th>
        <td>
          <strong>6g</strong>
        </td>
         <td>
          <strong>2%</strong>
        </td>
      </tr>
  
      <tr>
        <td class="blank-cell">
        </td>
        <th>
          Total Sugars
         
        </th>
        <td>
          <strong> 5g</strong>
        </td>
         <td>
          <strong>†</strong>
        </td>
      </tr>
      <tr>
        <td class="blank-cell">
        </td>
         
        <td>
          Includes 5g Added Sugars
        </td>
        <td>
        </td>
        <td><strong>10%</strong>
        </td>
      </tr>
      <tr>
        <th colspan="2">
          <strong>Vitamin C</strong> (as ascorbic acid)
          
        </th>
        <td>
          <strong>73mg</strong>
        </td>
         <td>
          <strong>81%</strong>
        </td>
      </tr>

       <tr>
        <th colspan="2">
          <strong>Vitamin D</strong> (as vegan cholecalciferol)
          
        </th>
        <td>
          <strong>60.4mcg</strong>
        </td>
         <td>
          <strong>302%</strong>
        </td>
      </tr>
   
       <tr>
        <th colspan="2">
          <strong>Riboflavin</strong>
          
        </th>
        <td>
          <strong>0.15mg</strong>
        </td>
         <td>
          <strong>12%</strong>
        </td>
      </tr>
     
       
      <tr>
        <th colspan="2">
          <strong>Niacin</strong> (as niacinamide)
          
        </th>
        <td>
          <strong>23mg</strong>
        </td>
         <td>
          <strong>144%</strong>
        </td>
      </tr>
    <tr>
        <th colspan="2">
          <strong>Vitamin B6</strong> (as pyridoxal 5-phosphate)
          
        </th>
        <td>
          <strong>2.3mg</strong>
        </td>
         <td>
          <strong>135%</strong>
        </td>
      </tr>
    
         <tr>
        <th colspan="2">
          <strong>Vitamin B12</strong> (as methylcobalamin)
         
        </th>
        <td>
          <strong>7mcg</strong>
        </td>
        <td>
          <strong>292%</strong>
        </td>
      </tr>
       <tr>
        <th colspan="2">
          <strong>Calcium</strong> (as tricalcium phosphate)
          
        </th>
        <td>
          <strong>63mg</strong>
        </td>
         <td>
          <strong>5%</strong>
        </td>
      </tr>
       <tr>
        <th colspan="2">
          <strong>Magnesium</strong> (as magnesium citrate)
          
        </th>
        <td>
          <strong>48mg</strong>
        </td>
         <td>
          <strong>11%</strong>
        </td>
      </tr>
       <tr>
        <th colspan="2">
          <strong>Zinc</strong> (as zinc sulfate)
          
        </th>
        <td>
          <strong>6.75mg</strong>
        </td>
         <td>
          <strong>61%</strong>
        </td>
      </tr>
       <tr>
        <th colspan="2">
          <strong>Chromium</strong> (as chromium polynicotinate)
          
        </th>
        <td>
          <strong>24mcg%</strong>
        </td>
         <td>
          <strong>69%</strong>
        </td>
      </tr>
       <tr>
        <th colspan="2">
          <strong>Sodium</strong> (as sodium citrate and seal salt)
          
        </th>
        <td>
          <strong>500mg%</strong>
        </td>
        <td>
          <strong>22%</strong>
        </td>
      </tr>
      <tr class="thick-end">
        <th colspan="2">
          <strong>Potassium</strong> (as potassium citrate)
          
        </th>
        <td>
          <strong>380mg</strong>
        </td>
         <td>
          <strong>8%</strong>
        </td>
      </tr>
            <tr>
        <th colspan="2">
          <strong>L-Theanine</strong>
        </th>
         <td>
          <strong>100mg</strong>
        </td>
        <td>
          <strong>†</strong>
        </td>
      </tr>
      <tr class="thick-end">
        <th colspan="2">
          <strong>Vitamin K</strong> (as menaquinone-7)
        </th>
        <td>
          <strong>31.5mcg</strong>
        </td>
         <td>
          <strong>†</strong>
        </td>
      </tr>
      
    </tbody>
  </table>



  <p class="small-info">Percent Daily Values are based on a 2,000 calorie diet.</p>
  <p class="small-info">† Daily Values not established.</p>


</section>