
{% assign block_settings = block.settings %}
{% capture pill %}
<div class="single-pill">
    {{ block_settings.title }}
    {% if block_settings.text !=blank %}
     {{ block_settings.text }}
     {% endif %}
</div>
{% endcapture %}

{{ pill }}

{% schema %}
{
  "name": "CB Pill",
  "class": "cb-pill",
  "settings": [

    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
   
    {
      "type": "text",
      "id": "text",
      "label": "Sub-Text"
    }

  ],
  "presets": [
    {
      "name": "CB Pill",
      "category": "CB"
    }
  ]
}
{% endschema %}