{% assign block_settings = block.settings %}
<div class="cb-pills">

{{ 'cb-pills.css' |asset_url | stylesheet_tag }}
  {% content_for 'blocks' %}
</div>
<style>
    .single-pill{
        background-color:{{ block_settings.bg_color }};
color:{{block_settings.text_color }};}
</style>
{% schema %}
{
  "name": "CB Pills",
  "class": "cb-pills",
  "settings": [
      {
    "type": "header",
   "content": "Pill Colors"},
   {
"type": "color",
"id":"bg_color",
"label":"Pill Background"
},
   {
"type": "color",
"id":"text_color",
"label":"Text Color"
},
 {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.border_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }

  ],
  "blocks": [
    { "type": "_cb-pill" }
  ],
  
  "presets": [
    {
      "name": "CB Pills",
      "category": "Custom"
    }
  ]
}
{% endschema %}