/* ==========================================================
   Custom Fonts – Delvona & Sunset Gothic for Horizon
   ========================================================== */

/* ------------------------------
   Delvona (Serif Display)
   ------------------------------ */
@font-face {
  font-display: swap;
  font-family: "Delvona";
  font-style: normal;
  font-weight: 400;
  src: url("{{ 'Delvona-Bold.woff2' | asset_url }}") format("woff2"),
       url("{{ 'Delvona-Bold.woff' | asset_url }}") format("woff");
}



.product-information .sls-purchase-options-container{margin-bottom:9px;}
.product-information .sls-purchase-options-label{
color: #fff!important;
display: block;
font-family: 'Petrona';
font-size: 22px;
margin-bottom: 18px;
}
.product-information .sls-price,
.product-information .sealsubs-container .sls-option-container label{
	color: #fff;
	font-size: 18px;}
	
.product-information .sls-subscription-details-label{color: #fff;}
.product-information .sls-sub-icon svg{fill:#fff!important;}