.cb-featured-card{
    border-radius:12px;
    text-align:center;}
.featured-card-icon{
        align-items: center;
    justify-content: center;
    padding:9px;}
.featured-card-content{padding:9px;}
.featured-card-title{margin-bottom:9px;}